<link href="./css/style.css" rel="stylesheet" type="text/css">


<form action="/register" method="POST">
    <div class="container">
        <h1>Register</h1>
        <hr>
        <label for="Name"><b>Name</b></label>
        <input type="text" placeholder="Enter name" name="name" id="name" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>
    
        <!-- <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <hr> -->
    
        <button type="submit" class="registerbtn">Register</button>
      </div>
    
      <div class="container signin">
        <p>Already have an account? <a href="/login">Sign in</a>.</p>
      </div>

</form>